[*.cs]

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# Default severity for analyzer diagnostics with category 'ApiDesign'
dotnet_analyzer_diagnostic.category-ApiDesign.severity = none
